<div class="left-side-bar">
    <div class="top-section">
        <div class="logo">
            <img src="/src/assets/images/logo.png">
        </div>
        <div class="title">
            <div class="main-title">
                Invictus
            </div>
            <div class="sub-title">
                Lorem Ipsum
            </div>
        </div>
    </div>
    <div class="nevigation">
        <ul class="nav-level1">
            <li>
                <div class="item">
                    <i class="fa fa-chart-bar"></i>
                    <span>Dashboard</span>
                </div>
            </li>
            <li>
                <div class="item">
                    <i class="fa fa-id-badge"></i>
                    <span>Company Profile</span>
                </div>
            </li>
            <li>
                <div class="item">
                    <i class="fa fa-user-friends"></i>
                    <span>Users</span>
                </div>
            </li>
            <li>
                <div class="item">
                    <i class="fa fa-flag"></i>
                    <span>Roles</span>
                </div>
            </li>
            <li class="active">
                <div class="item">
                    <i class="fa fa-comment-alt"></i>
                    <span>Team Chat</span>
                </div>
                <ul class="nev-level-2">
                    <li class="user active">
                        <i class="fas fa-circle"></i>
                        <span>Users-name1</span>
                    </li>
                    <li class="user">
                        <i class="fas fa-circle"></i>
                        <span>Users-name2</span>
                    </li>

                </ul>
            </li>

        </ul>
    </div>
</div>


